{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">Resort Admin Dashboard</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card bg-primary text-white p-4">
                <h4>Total Rooms</h4>
                <h2>{{ total_rooms }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-success text-white p-4">
                <h4>Available Rooms</h4>
                <h2>{{ available_rooms }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-danger text-white p-4">
                <h4>Booked Rooms</h4>
                <h2>{{ booked_rooms }}</h2>
            </div>
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-4">
            <div class="card bg-warning text-white p-4">
                <h4>Total Bookings</h4>
                <h2>{{ total_bookings }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-dark text-white p-4">
                <h4>Total Revenue</h4>
                <h2>₹ {{ total_revenue }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-info text-white p-4">
                <h4>Restaurant Orders</h4>
                <h2>{{ restaurant_orders }}</h2>
            </div>
        </div>

    </div>

</div>

{% endblock %}